<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nhà xe Hà My</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/header_footer.css">
  <link rel="stylesheet" href="/css/chi_tiet_nha_xe.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="shortcut icon" href="/images/favicon_user.png" />

</head>

<body>
  {{>header}}
  <main class="container">
    <div class="row">
      {{#with chiTietNhaXe}}
      <div class="col-xl" style="overflow: auto;">
        <div class="thumbnail">
          <div class="page-header container">
            <h1 class="page-title primary-title-50">Nhà xe {{name}}</h1>
          </div>

          <img src="{{imageCarCom}}" alt="Nhà xe {{name}}" class="img-fluid rounded-top-bottom-1"
            style="width: 100%; height: 85.9vh;">
        </div>

        <div class="accordion details" id="#nhaxe-accordion">
          <div class="accordion-item intro">
            <div class="accordion-header intro-title" id="headingOne">
              <button class="accordion-button
                                            collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="background-color:
                                            var(--color--quaternary);" id="description-section">
                <h3>Giới thiệu chi tiết về nhà xe {{name}}</h3>
              </button>
            </div>

            <div id="collapseOne" class="accordion-collapse collapse intro-details" data-bs-parent="#nhaxe-accordion">
              <div class="accordion-body">
                <p>{{description}}</p>
              </div>
            </div>
          </div>

          {{!-- <div class="accordion-item tuyen-duong">
            <div class="accordion-header tuyen-duong-title">
              <button class="accordion-button collapsed" type=" button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                style="background-color: var(--color--quaternary);">
                <h3>Lộ trình tuyến đường, thời gian dừng đón, trả khách và giá vé, loại xe của nhà xe {{name}}</h3>
              </button>
            </div>

            <div id="collapseTwo" class="accordion-collapse collapse
                                        tuyen-duong-details" data-bs-parent="#nhaxe-accordion">
              <div class="accordion-body">
                <div>
                  <h3 class="tuyen-duong-details-title">Tuyến
                    đường đi {{mainRoute.[0]}} - {{mainRoute.[1]}}</h2>
                    <ul>
                      <li>Thời gian khởi hành: {{#each startTime}} -{{this}} {{/each}}</li>
                      <li>Số chuyến trong ngày:
                        Khoảng {{numOfTrip}} chuyến/ngày</li>
                      <li>Địa điểm: Văn phòng {{mainRoute.[0]}}, Văn phòng {{mainRoute.[1]}}</li>
                      <li>Giá vé tham khảo: {{formatPrice ticketPrice.[0]}} - {{formatPrice ticketPrice.[1]}}
                        VNĐ/người/ghế</li>
                    </ul>
                </div>

                <div>
                  <h3 class="tuyen-duong-details-title">Tuyến
                    đường đi {{mainRoute.[1]}} - {{mainRoute.[2]}}</h2>
                    <ul>
                      <li>Thời gian khởi hành: {{#each startTime}} -{{this}} {{/each}}</li>
                      <li>Số chuyến trong ngày:
                        Khoảng {{numOfTrip}} chuyến/ngày</li>
                      <li>Địa điểm: Văn phòng {{mainRoute.[1]}}, Văn phòng {{mainRoute.[2]}}</li>
                      <li>Giá vé tham khảo: {{formatPrice ticketPrice.[1]}} VNĐ/người/ghế</li>
                    </ul>
                </div>

                <div>
                  <h3 class="tuyen-duong-details-title">Tuyến
                    đường đi {{mainRoute.[0]}} - {{mainRoute.[1]}}</h2>
                    <ul>
                      <li>Thời gian khởi hành: {{#each startTime}} -{{this}} {{/each}}</li>
                      <li>Số chuyến trong ngày:
                        Khoảng {{numOfTrip}} chuyến/ngày</li>
                      <li>Địa điểm: Văn phòng {{mainRoute.[0]}}, Văn phòng {{mainRoute.[2]}}</li>
                      <li>Giá vé tham khảo: {{formatPrice ticketPrice.[0]}} VNĐ/người/ghế</li>
                    </ul>
                </div>
              </div>
            </div>
          </div> --}}

          <div class="accordion-item chi-nhanh">
            <div class="accordion-header chi-nhanh-title">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                style="background-color: var(--color--quaternary);">
                <h3>Địa chỉ và thông tin liên hệ đặt vé xe {{name}}</h3>
              </button>
            </div>

            <div id="collapseThree" class="accordion-collapse collapse chi-nhanh-details"
              data-bs-parent="#nhaxe-accordion">
              <div class="accordion-body">
                {{#each mainRoute}}
                <div>
                  <h3>Chi nhánh {{this}}</h3>
                  <p>Văn phòng bán vé {{this}}: {{lookup ../address @index}}</p>
                  <div class="sdt-container">
                    <p>Số điện thoại liên hệ đặt
                      vé/gửi hàng:</p>
                    <p class="bold-secondary">{{lookup ../phoneNo @index}}</p>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>

          <div class="review accordion-item" id="review-section">
            <div class="accordion-header review-title">
              <button class="accordion-button show" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="background-color:
                                            var(--color--quaternary);">
                <h3>Đánh giá</h3>
              </button>
            </div>

            <div id="collapseFour" class="accordion-collapse show" data-bs-parent="#nhaxe-accordion">
              <div class="accordion-body">
                <div class="container" style="padding-bottom: 10px;">
                  <div class="row star-review justify-content-center">
                    <a href="/nha-xe/{{id}}?page=1&star=0#review-section" class="col-auto"><i
                        class="bi bi-star-fill total">{{stars}}/5</i></a>
                    <a href="/nha-xe/{{id}}?page=1&star=0#review-section" class="col-auto star-category">Tất cả
                      ({{Reviews.length}})</i></a>
                    <a href="/nha-xe/{{id}}?page=1&star=1#review-section" class="col-auto star-category">1<i
                        class="bi bi-star-fill">({{../oneStar}})</i></a>
                    <a href="/nha-xe/{{id}}?page=1&star=2#review-section" class="col-auto star-category">2<i
                        class="bi bi-star-fill">({{../twoStar}})</i></a>
                    <a href="/nha-xe/{{id}}?page=1&star=3#review-section" class="col-auto star-category">3<i
                        class="bi bi-star-fill">({{../threeStar}})</i></a>
                    <a href="/nha-xe/{{id}}?page=1&star=4#review-section" class="col-auto star-category">4<i
                        class="bi bi-star-fill">({{../fourStar}})</i></a>
                    <a href="/nha-xe/{{id}}?page=1&star=5#review-section" class="col-auto star-category">5<i
                        class="bi bi-star-fill">({{../fiveStar}})</i></a>
                  </div>
                </div>

                {{#if ../isLoggedIn}}
                <div class="card login-review">
                  <div class="card-body p-4">
                    <div class="d-flex">
                      <img class="img-fluid rounded-circle comment-avatar me-3" src="{{../avatar}}" alt="avatar"
                        style="width: 60px; height: 60px; object-fit: cover;" />
                      <div class="w-100">
                        <h5 class="name">{{../fullName}}</h5>
                        <form action="/nha-xe/{{id}}" method="POST" id="rating">
                          <div class="stars">
                            <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" value="4" />
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" value="3" />
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" value="2" />
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" value="1" />
                            <label class="star star-1" for="star-1"></label>
                          </div>

                          <div class="form-group">
                            <textarea class="form-control" id="textAreaExample" rows="4" name="cmt" form="rating"
                              placeholder="Viết đánh giá"></textarea>
                          </div>
                          <div class="d-flex justify-content-end mt-3 review-box-button-group">
                            <button type="submit" class="btn btn-secondary send-button"
                              style="margin-right: 10px">Gửi</button>
                            <button type="button" class="btn btn-danger cancel-button">Hủy</button>
                          </div>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
                {{else}}
                <div class="ps-5">
                  <h3>Chỉ có thành viên mới có thể thêm đánh giá. Vui lòng <a
                      href="/users/login?returnURL=/nha-xe/{{id}}">đăng nhập</a> hoặc
                    <a href="/users/register?returnURL=/nha-xe/{{id}}">đăng ký</a>.
                  </h3>
                </div>
                {{/if}}

                <div class="card comment-container ">
                  {{#each ../chiTietNhaXeReview}}
                  <div class="row g-0 comment">
                    <hr>
                    <div class="col-auto comment-avatar">
                      {{#with TaiKhoan}}
                      <img src="{{imageAccount}}" class="img-fluid rounded-circle" alt="Avatar">
                      {{/with}}
                    </div>

                    <div class="col-auto">
                      <div class="card-body">
                        {{#with TaiKhoan}}
                        <h5 class="card-title comment-name">{{fullName}}</h5>
                        {{/with}}
                        <div class="comment-star-container">
                          {{{generateStarListFont2 stars}}}
                        </div>
                        <div>{{date ./createdAt}}</div>
                      </div>
                    </div>

                    <div>
                      <p>{{comment}}</p>
                    </div>

                  </div>
                  {{/each}}

                  <nav class="pagination-container">
                    <ul class="pagination justify-content-center .pagination-lg">
                      <li class="page-item">
                        {{!-- id, page, star, totalPage, type --}}
                        {{{createNextPreviousPagination id ../reviewPagination.previousPage
                        ../reviewPagination.reviewStarFilter ../reviewPagination.totalPage
                        ../reviewPagination.buttonType.[0] ../reviewPagination.pageType}}}
                      </li>

                      {{!-- (id, current, star, totalPage) --}}
                      {{{createReviewPagination id ../reviewPagination.page ../reviewPagination.reviewStarFilter
                      ../reviewPagination.totalPage}}}

                      <li class="page-item">
                        {{{createNextPreviousPagination id ../reviewPagination.nextPage
                        ../reviewPagination.reviewStarFilter ../reviewPagination.totalPage
                        ../reviewPagination.buttonType.[1] ../reviewPagination.pageType}}}
                      </li>

                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/with}}
      </div>

  </main>

  {{>footer}}
</body>