<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Vé của tôi</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/myTicket.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="/images/favicon_user.png" />

</head>

<body>
    {{>header}}
    <main>
        <div class="bodyInfo">
            <div class="container">
                {{#with infoAcc}}
                <div class="row">
                    <div class="col-md-12">
                        <p><a href="/">Trang chủ </a> > <a href="/tai-khoan/ve-cua-toi/">Vé của tôi</a>
                        </p>
                        <div class="infoAcc">
                            <img src="{{imageAccount}}" alt="AnhDaiDien" class="img-fluid" id="avatarInfoAcc">
                            <div class="infoNameAcc">
                                <div style="font-size:larger">Tài khoản của</div>
                                <h4 style="color: var(--color--secondary)">{{fullName}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bodyInfoDetail">
                    <div class="col-md-3 leftBody">
                        <div class="leftInfoAcc">
                            <a class="linkLeftInfoAcc" href="/tai-khoan/thong-tin">
                                <i class="fa-solid fa-user"></i> Thông tin tài khoản
                            </a>
                        </div>
                        <div class="leftInfoAcc">
                            <a href="/tai-khoan/ve-cua-toi" class="linkLeftInfoAcc">
                                <span class="bi bi-ticket-detailed"></span>
                                Vé của tôi
                            </a>
                        </div>
                    </div>

                    <div class="col-md-9 rightBody">
                        <div class="topRightBody">
                            {{#if ../statusVuaDat}}
                            <a id="statusMau" href="/tai-khoan/ve-cua-toi">Vừa đặt</a>
                            <a href="/tai-khoan/ve-cua-toi?statusTicket=Đã thanh toán">Đã thanh
                                toán</a>
                            <a href="/tai-khoan/ve-cua-toi?statusTicket=Đã hủy">Đã hủy</a>
                            {{else if ../statusThanhToan}}
                            <a href="/tai-khoan/ve-cua-toi">Vừa đặt</a>
                            <a id="statusMau" href="/tai-khoan/ve-cua-toi?statusTicket=Đã thanh toán">Đã thanh
                                toán</a>
                            <a href="/tai-khoan/ve-cua-toi?statusTicket=Đã hủy">Đã hủy</a>
                            {{else}}
                            <a href="/tai-khoan/ve-cua-toi">Vừa đặt</a>
                            <a href="/tai-khoan/ve-cua-toi?statusTicket=Đã thanh toán">Đã thanh
                                toán</a>
                            <a id="statusMau" href="/tai-khoan/ve-cua-toi?statusTicket=Đã hủy">Đã hủy</a>
                            {{/if}}
                        </div>
                        {{/with}}
                        <div class="bodyRightBody">
                            {{#with veDaDat}}
                            {{#if VeDaDats.length}}
                            {{#each VeDaDats}}
                            <div class="infoTicket shadow-sm">
                                <div class="maDonHang shadow-sm fontSizeLarger">Mã đơn hàng: <span
                                        class="idDonHang">T{{id}}</span>
                                </div>
                                <div class="infoDetailTicket shadow-sm d-flex justify-content-between">
                                    <div class="leftInfoDetail">
                                        <img src="{{ChuyenXe.locationImage}}" alt="{{ChuyenXe.endProvince}}">
                                        <div class="infoChuyenDi">
                                            <p>{{ChuyenXe.startProvince}} <i class="fa-solid fa-arrow-right"></i>
                                                {{ChuyenXe.endProvince}}</p>
                                            <p>Nhà xe {{ChuyenXe.NhaXe.name}}</p>
                                            <p><span class="bi bi-ticket-detailed"></span> {{numSeats}} vé</p>
                                        </div>
                                    </div>
                                    <div class="rightInFoDetail">
                                        <div class="ngayDiChuyenDi"><i class="fa-solid fa-calendar-days"></i>
                                            {{date ChuyenXe.startDate}}</div>
                                        <a href="/tai-khoan/ve-cua-toi/{{id}}" class="btn btn-dark">Xem
                                            chi tiết</a>
                                    </div>
                                </div>
                                <div class="tongSoTien fontSizeLarger">
                                    Tổng số tiền: <span class="soTien">{{totalPrice ChuyenXe.price numSeats}}đ</span>
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                            {{/with}}
                        </div>
                        {{#if veDaDat.VeDaDats.length}}
                        <div class="botRightBody">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item">
                                        {{#if statusVuaDat}}
                                        {{{createNextPrevTicketPagination ticketStatus.[0] previousPage
                                        previousPageStatus buttonType.[0]}}}
                                        {{else if statusThanhToan}}
                                        {{{createNextPrevTicketPagination ticketStatus.[1] previousPage
                                        previousPageStatus buttonType.[0]}}}
                                        {{else}}
                                        {{{createNextPrevTicketPagination ticketStatus.[2] previousPage
                                        previousPageStatus buttonType.[0]}}}
                                        {{/if}}
                                    </li>

                                    {{#if statusVuaDat}}
                                    {{{createTicketPagination ticketStatus.[0] currentPage totalPage}}}
                                    {{else if statusThanhToan}}
                                    {{{createTicketPagination ticketStatus.[1] currentPage totalPage}}}
                                    {{else}}
                                    {{{createTicketPagination ticketStatus.[2] currentPage totalPage}}}
                                    {{/if}}

                                    <li class="page-item">
                                        {{#if statusVuaDat}}
                                        {{{createNextPrevTicketPagination ticketStatus.[0] nextPage nextPageStatus
                                        buttonType.[1]}}}
                                        {{else if statusThanhToan}}
                                        {{{createNextPrevTicketPagination ticketStatus.[1] nextPage nextPageStatus
                                        buttonType.[1]}}}
                                        {{else}}
                                        {{{createNextPrevTicketPagination ticketStatus.[2] nextPage nextPageStatus
                                        buttonType.[1]}}}
                                        {{/if}}
                                    </li>

                                </ul>
                            </nav>
                        </div>
                        {{else}}
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4 text-center">
                                <img src="/images/image-15.png" alt="KhongVe">
                                <h3>Bạn chưa có chuyến nào</h3>
                            </div>
                            <div class="col-4"></div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}
</body>