<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách nhà xe</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/nhaxe.css">
    <link rel="shortcut icon" href="/images/favicon_user.png" />


</head>

<body>
    {{>header}}
    <div class="page-site">
        <header class="page-header container">
            <h1 class="page-title primary-title-50">Danh sách nhà xe</h1>
        </header>

        <main class="container">
            <div class="row">
                {{#each carCom}}
                <div class="col-md-6">
                    <div class="nhaxe">
                        <a href="/nha-xe/{{id}}" class="thumbnail">
                            <div class="image-container">
                                <img src="{{imageCarCom}}" alt="{{name}}" style="height: 440px; width: 580px"
                                    class="img-fluid rounded-top-2 thumbIMG">
                                <div class="hover-block rounded-top-2"></div>
                            </div>
                        </a>

                        <div class="description rounded-bottom-2">
                            <div class="intro">
                                <a href="/nha-xe/{{id}}" class="intro-block">
                                    <h3>Nhà xe {{name}}</h3>
                                </a>

                                <a href="/nha-xe/{{id}}#description-section" class="intro-block cmt"
                                    style="color: black;">
                                    <p>
                                        {{description}}
                                    </p>
                                </a>
                            </div>


                            <div class="review">
                                <h3>Đánh giá</h3>
                                <div class="review-star">
                                    <a href="/nha-xe/{{id}}" class="review-count">{{stars}}</a>
                                    <a href="/nha-xe/{{id}}#review-section">
                                        {{{generateStarList stars}}}
                                        ({{Reviews.length}})
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

            <div class="row justify-content-center">
                <div class="col-auto">
                    <nav class="pagination-container">
                        <ul class="pagination justify-content-center .pagination-lg">
                            <li class="page-item">
                                {{!-- id, page, star, totalPage, type --}}
                                {{{createNextPreviousPagination id nhaxePagination.previousPage
                                nhaxePagination.previousPage nhaxePagination.totalPage
                                nhaxePagination.buttonType.[0] nhaxePagination.pageType}}}
                            </li>

                            <li class="page-item">
                                {{{createNextPreviousPagination id nhaxePagination.nextPage
                                nhaxePagination.nextPage nhaxePagination.totalPage
                                nhaxePagination.buttonType.[1] nhaxePagination.pageType}}}
                            </li>

                        </ul>
                    </nav>
                </div>

            </div>
        </main>
    </div>

    <script>
        console.log(`${{ carCom }}`)
    </script>
    {{>footer}}
</body>