<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Vé của tôi</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/xemChiTietVe.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="/images/favicon_user.png" />

</head>

<body>

    {{>header}}
    <main>
        <div class="bodyInfo">
            <div class="container">
                {{#with infoAcc}}
                <div class="row">
                    <div class="col-md-12">
                        <p><a href="/">Trang chủ </a> > <a href="/tai-khoan/ve-cua-toi/">Vé của tôi</a>
                        </p>
                        <div class="infoAcc">
                            <img src="{{imageAccount}}" alt="AnhDaiDien" class="img-fluid" id="avatarInfoAcc">
                            <div class="infoNameAcc">
                                <div style="font-size:larger">Tài khoản của</div>
                                <h4 style="color: var(--color--secondary)">{{fullName}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bodyInfoDetail">
                    <div class="col-md-3 leftBody">
                        <div class="leftInfoAcc">
                            <a class="linkLeftInfoAcc" href="/tai-khoan/thong-tin">
                                <i class="fa-solid fa-user"></i> Thông tin tài khoản
                            </a>
                        </div>
                        <div class="leftInfoAcc">
                            <a href="/tai-khoan/ve-cua-toi" class="linkLeftInfoAcc">
                                <span class="bi bi-ticket-detailed"></span>
                                Vé của tôi
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 rightBody p-5">
                        {{#each VeDaDats}}
                        <div class="ttLienLac">
                            <div class="leftTTLienLac col-5">
                                <div id="maVe">Mã vé #<span>T{{id}}</span></div>
                                <br>
                                <div class="ttNguoiDung">
                                    <div class="fontSizeLarger"><i class="fa-solid fa-circle-info"></i> Thông tin liên
                                        lạc</div>
                                    <ul>
                                        <li>Họ tên: <span>{{fullName}}</span></li>
                                        <li>Số điện thoại: <span>{{phoneNum}}</span></li>
                                        <li>Email: <span>{{email}}</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3"></div>
                            <div class="col-4">
                                <img src="{{ChuyenXe.locationImage}}" alt="{{ChuyenXe.endProvince}}" class="img-fluid"
                                    style="height: 100%;">
                            </div>
                        </div>
                        <hr>
                        <div class="tinhTrangVe">
                            <span class="fontSizeLarger"><i class="bi bi-ticket-perforated"></i> Tình trạng vé</span>
                            <ul>
                                <li id="liTinhTrangVe">{{statusTicket}}</li>
                            </ul>
                        </div>
                        <hr>
                        {{#if ../../veChuaHuy}}
                        <div class="formDelete">
                            <form action="/tai-khoan/ve-cua-toi/{{id}}" method="post">
                                <span class="fontSizeLarger"><i class="fa-solid fa-xmark"></i> Chính sách</span>
                                <p>Hủy đơn hàng & hoàn tiền</p>
                                <input type="hidden" value="{{id}}" name="id" id="id">
                                <button class="btn btn-danger" style="width: 150px;">Hủy vé</button>
                            </form>
                        </div>
                        <hr>
                        {{/if}}
                        <div class="ttChuyenDi">
                            <span class="fontSizeLarger"><i class="fa-solid fa-location-dot"></i> Thông tin chuyến
                                đi</span>
                            <ul>
                                <li>Tên chuyến đi: <span>{{ChuyenXe.startProvince}} <i
                                            class="fa-solid fa-arrow-right"></i>
                                        {{ChuyenXe.endProvince}}</span>
                                <li>Tên nhà xe: <span>{{ChuyenXe.NhaXe.name}}</span></li>
                                <li>Ngày đặt vé: <span>{{date createdAt}}</span></li>
                                <li>Ngày khởi hành: <span>{{date ChuyenXe.startDate}}</span></li>
                                <li>Giờ khởi hành: <span>{{ChuyenXe.startTime}}</span></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="ttDonGia">
                            <span class="fontSizeLarger"><i class="bi bi-cash"></i> Thông tin đơn giá</span>
                            <ul>
                                <li>Giá vé: <span>{{formatPrice ChuyenXe.price}}đ</span></li>
                                <li id="soVeDat">Số vé đặt: <span>{{numSeats}}</span></li>
                                <hr id="horiSoTien">
                                <li>Tổng số tiền: <span style="color:var(--color--secondary)">{{totalPrice
                                        ChuyenXe.price
                                        numSeats}}đ</span></li>
                            </ul>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </main>
    {{>footer}}
    <script>
        let statusTicket = document.querySelector("#liTinhTrangVe");

        if (statusTicket.innerText.localeCompare("Đã thanh toán") == 0) {
            statusTicket.style.color = "#00CC00"
        }
        else if (statusTicket.innerText.localeCompare("Đã hủy") == 0) {
            statusTicket.style.color = "red"
        }
    </script>
</body>